@charset 'UTF-8';
/*  Button  */

.c-button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;


  &.-primary {
    background-color: $secondary-text-color;
    border: solid 1px $main-color;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
    background-color: $main-color;
    color: $secondary-text-color;
    }
  }

  &.-secondary {
    background-color: $main-color;
    border: solid 1px $secondary-text-color;
    letter-spacing: 0.04em;
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
    background-color: $secondary-text-color;
    color: $main-color;
    }
  }

  &.-pagetop {
    position: relative;
    width: 64px;
    height: 64px;
    border: 4px solid $main-color;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
    }

    &:before {
      top: 8px;
      background-color: $main-color;
    }

    &:after {
      top: 16px;
      background-color: inherit;
    }

    &:hover {
      background-color: $main-color;
      color: #fff;
    }

    &:hover:before {
      background-color: #fff;
    }
      }

  &.-primary:before {
    right: 24px;
    background-color: $main-color;
  }

  &.-primary:after {
    right: 26px;
    background-color: inherit;
  }
}
