@charset "UTF-8";
/* =====================================================
  1.0 - Foundation
===================================================== */
/*
  Reset
-----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Base
-----------------------------------------------------*/
*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F3F3F3;
}

img {
  height: auto;
  vertical-align: bottom;
}

a {
  color: #3e3e3e;
}

[lang="en"] {
  font-family: "Montserrat", sans-serif;
}

/* =====================================================
  2.0 - Layout
===================================================== */
/*
  Centering
-----------------------------------------------------*/
.l-container {
  margin: 0 auto;
  max-width: 1180px;
  width: calc(100% - 32px);
}

.l-center {
  text-align: center;
}

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .l-header {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.l-header__wrapper {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .l-header__wrapper {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .l-header__logo {
    display: none;
  }
}

/*
  GlobalNav
-----------------------------------------------------*/
.l-globalNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 20%;
  bottom: 0;
  padding-top: 50%;
  width: 80%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 20;
}

.l-globalNav li a {
  font-size: 1.125em;
  text-align: center;
  display: block;
  padding: 0.55556em;
  color: #3e3e3e;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .l-globalNav li a {
    font-size: 1em;
    padding: 0;
  }
}

.l-globalNav li a:hover {
  background-color: #3e3e3e;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .l-globalNav li a:hover {
    color: #3e3e3e;
  }
}

@media screen and (min-width: 768px) {
  .l-globalNav {
    position: static;
    padding: 0;
    background-color: transparent;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-globalNav li + li {
    margin-left: 2.5em;
  }
  .l-globalNav li a {
    color: #3e3e3e;
    padding: 0;
    position: relative;
  }
  .l-globalNav li a:before {
    position: absolute;
    bottom: -4px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .l-globalNav li a:hover:before {
    background-color: #3e3e3e;
  }
  .l-globalNav li a:hover {
    background-color: transparent;
  }
}

.is-active-drawer .l-globalNav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.js-menu a.border:before {
  background-color: #3e3e3e;
}

/*
  Section
-----------------------------------------------------*/
.l-section__news {
  position: relative;
  top: -40px;
  margin-bottom: 1.25em;
}

@media screen and (min-width: 768px) {
  .l-section__news {
    position: static;
    margin: 8.125em 0;
  }
}

.l-section__newsBox {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media screen and (min-width: 768px) {
  .l-section__newsBox {
    padding: 0 3.125em;
  }
}

.l-section__service {
  padding-bottom: 3.75em;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), color-stop(50%, #3e3e3e), color-stop(50%, #F3F3F3), to(#F3F3F3));
  background: linear-gradient(180deg, #3e3e3e 0%, #3e3e3e 50%, #F3F3F3 50%, #F3F3F3 100%);
}

@media screen and (min-width: 768px) {
  .l-section__service {
    padding-bottom: 8.125em;
  }
}

.l-section__serviceBox {
  padding: 2.5em 1em;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media screen and (min-width: 768px) {
  .l-section__serviceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3.375em 3em;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .l-section__results .c-heading {
    padding: 2.22222em 0;
    text-align: left;
  }
}

.l-section__resultsBox {
  background-color: #3e3e3e;
  padding-bottom: 2.5em;
}

@media screen and (min-width: 768px) {
  .l-section__resultsBox {
    padding-left: 6.875em;
    padding-bottom: 5em;
    position: relative;
    margin-left: 5.8125em;
  }
}

.l-section__price {
  padding-bottom: 6.4375em;
}

@media screen and (min-width: 768px) {
  .l-section__price {
    padding-bottom: 17.5em;
  }
}

.l-section__price .c-heading {
  padding: 2.22222em 0;
}

.l-section__comments {
  background-color: #3e3e3e;
}

.l-section__comments .c-heading {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .l-section__comments .c-heading {
    padding: 2.22222em 0;
  }
}

.l-section__commentsBox {
  position: relative;
  top: -3.75em;
  background-color: #fff;
  padding: 0 1.25em 2.5em;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media screen and (min-width: 768px) {
  .l-section__commentsBox {
    max-width: 644px;
    padding: 0 2.5em 8.25em;
    top: -8.125em;
    width: 54.5%;
  }
}

.l-section__commentsImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .l-section__commentsImage {
    display: block;
    position: absolute;
    top: 120px;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    width: 83.38%;
  }
}

.l-section__commentsImage img {
  width: 100%;
}

.l-section__qa {
  background: url(../images/sunyu-kim-1053375-unsplash.png) no-repeat center center;
  padding-bottom: 2.5em;
}

@media screen and (min-width: 768px) {
  .l-section__qa {
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .l-section__qa .c-heading {
    padding: 2.22222em 0;
    text-align: left;
    margin-left: 50%;
  }
}

.l-section__access {
  background-color: #3e3e3e;
  padding-bottom: 3em;
}

@media screen and (min-width: 768px) {
  .l-section__access {
    margin-bottom: 13.5em;
  }
}

.l-section__access .c-heading {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .l-section__access .c-heading {
    padding: 3.61111em 0 1.11111em;
  }
}

@media screen and (min-width: 768px) {
  .l-section__access {
    padding-bottom: 11.125em;
  }
}

.l-section__contact {
  background: url(../images/alex-blajan-159378-unsplash.png);
  padding: 2.5em 0;
}

@media screen and (min-width: 768px) {
  .l-section__contact {
    padding: 5em 0;
  }
}

.l-section__contact .c-heading {
  padding: 1.06667em 0 0.33333em;
}

@media screen and (min-width: 768px) {
  .l-section__contact .c-heading {
    padding: 1.72222em 0 0.33333em;
  }
}

/*
  Footer
-----------------------------------------------------*/
.l-footer {
  background-color: #3e3e3e;
  padding: 3.75em 1em 5.75em;
  color: #E3E3E3;
}

@media screen and (min-width: 768px) {
  .l-footer {
    padding: 7.5em 0;
  }
}

.l-footer a {
  color: #E3E3E3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .l-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.l-footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .l-footer__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.l-footer__twitter {
  font-size: 2.25em;
}

@media screen and (min-width: 768px) {
  .l-footer__twitter {
    margin-right: 0.55556em;
  }
}

.l-footer__facebook {
  font-size: 2.25em;
}

.l-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.875em;
  margin-top: 2.85714em;
}

@media screen and (min-width: 768px) {
  .l-footer__menu {
    display: block;
    font-size: 1.125em;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .l-footer__menu li {
    margin-bottom: 1.11111em;
  }
}

.l-footer__privacy {
  text-align: center;
  margin-top: 1.42857em;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .l-footer__privacy {
    margin: 0;
  }
}

.l-footer__logo {
  font-size: 2.125em;
  margin-bottom: 0.23529em;
  margin-top: 1.61765em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-footer__logo {
    font-size: 2.75em;
    margin-bottom: 0.40909em;
    margin-top: 0;
  }
}

.l-footer__copyright {
  font-size: 0.75em;
  text-align: center;
}

.l-footer__pagetop {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .l-footer__pagetop {
    right: 93px;
    bottom: 38px;
  }
}

/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
/*  Button  */
.c-button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.c-button.-primary {
  background-color: #fff;
  border: solid 1px #3e3e3e;
  letter-spacing: 0.04em;
  color: #3e3e3e;
  text-decoration: none;
  font-weight: 600;
}

.c-button.-primary:hover {
  background-color: #3e3e3e;
  color: #fff;
}

.c-button.-secondary {
  background-color: #3e3e3e;
  border: solid 1px #fff;
  letter-spacing: 0.04em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.c-button.-secondary:hover {
  background-color: #fff;
  color: #3e3e3e;
}

.c-button.-pagetop {
  position: relative;
  width: 64px;
  height: 64px;
  border: 4px solid #3e3e3e;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.c-button.-pagetop:before, .c-button.-pagetop:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button.-pagetop:before {
  top: 8px;
  background-color: #3e3e3e;
}

.c-button.-pagetop:after {
  top: 16px;
  background-color: inherit;
}

.c-button.-pagetop:hover {
  background-color: #3e3e3e;
  color: #fff;
}

.c-button.-pagetop:hover:before {
  background-color: #fff;
}

.c-button.-primary:before {
  right: 24px;
  background-color: #3e3e3e;
}

.c-button.-primary:after {
  right: 26px;
  background-color: inherit;
}

/*  Heading  */
.c-heading {
  text-align: center;
  padding: 1.33333em 0 1.33333em;
  font-weight: 600;
  font-size: 1.875em;
  position: relative;
  line-height: 1.22;
}

.c-heading.-primary {
  color: #3e3e3e;
}

.c-heading.-secondary {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .c-heading {
    font-size: 2.25em;
    padding: 1.66667em 0;
  }
}

/*  Card  */
.c-card {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 55.45024%;
}

.c-card__body {
  padding: 0.75em;
}

@media screen and (min-width: 768px) {
  .c-card__body {
    padding: 1.25em;
  }
}

.c-card__thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card__thumbnail img {
  width: 100%;
}

/*
  3.2 - Project
-----------------------------------------------------*/
/*  Hamburger Button  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #3E3E3E;
  opacity: .7;
}

.p-hamburger {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  z-index: 30;
  width: 30px;
  height: 30px;
  margin: auto 0;
  background-color: transparent;
  outline: none;
}

.p-hamburger:focus {
  -webkit-box-shadow: 0 0 0.5em rgba(118, 126, 241, 0.712);
          box-shadow: 0 0 0.5em rgba(118, 126, 241, 0.712);
}

@media screen and (min-width: 768px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger__Line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 26px;
  height: 3px;
  margin: auto;
  border-radius: 4px;
  background-color: #3e3e3e;
}

.p-hamburger__Line:before, .p-hamburger__Line:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.p-hamburger__Line:before {
  top: -8px;
}

.p-hamburger__Line:after {
  top: 8px;
}

.is-active-drawer .p-hamburger {
  left: 10%;
}

.is-active-drawer .p-hamburger__Line {
  background-color: transparent;
}

.is-active-drawer .p-hamburger__Line:before, .is-active-drawer .p-hamburger__Line:after {
  top: 0;
  background-color: #fff;
}

.is-active-drawer .p-hamburger__Line:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.is-active-drawer .p-hamburger__Line:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*  Hero Image  */
.p-hero {
  color: #3e3e3e;
  position: relative;
}

.p-hero__body {
  position: absolute;
  top: 28.4857%;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-hero__body {
    top: 33.9506%;
    left: 53.66%;
    width: 38.79941vw;
    text-align: left;
  }
}

.p-hero__title {
  font-size: 6.4vw;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 0.66667em;
  text-align: left;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    font-size: 2.19619vw;
    margin-bottom: 2.92826vw;
  }
}

.p-hero__text {
  font-size: 4.266666vw;
  margin-bottom: 2.5em;
  padding: 0 1em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .p-hero__text {
    font-size: 1.31772vw;
    margin-bottom: 2.92826vw;
    padding: 0;
  }
}

.p-hero__image img {
  height: 100vh;
  font-family: 'object-fit: cover; object-position: 24% 0%;';
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 24% 0%;
     object-position: 24% 0%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-hero__image img {
    height: auto;
  }
}

.p-hero__button {
  font-size: 1.125em;
  padding: 0.77778em 1.33333em;
  background-color: #ffaa3b;
  color: #fff;
  border-radius: 0.66667em;
  -webkit-box-shadow: 0px 3px 5px #00000033;
          box-shadow: 0px 3px 5px #00000033;
}

.p-hero__button:hover {
  background-color: #F18900;
}

@media screen and (min-width: 768px) {
  .p-hero__button {
    font-size: 1.31772vw;
    padding: 0.77778em 2.66667em;
  }
}

/*  News  */
@media screen and (min-width: 768px) {
  .p-news {
    display: inline-block;
    margin-bottom: 2.5em;
  }
}

.p-news a {
  text-decoration: none;
}

.p-news__list {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-top: solid 1px #CECDCD;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.p-news__list:after {
  display: block;
  width: 15px;
  height: 26px;
  content: url(../images/news-arrow.svg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto 0;
}

@media screen and (min-width: 768px) {
  .p-news__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5em 1.875em 2.5em 0;
    text-decoration: none;
  }
  .p-news__list:after {
    display: block;
    width: 15px;
    height: 26px;
    content: url(../images/news-arrow.svg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
  }
}

.p-news__list.-last {
  border-bottom: solid 1px #CECDCD;
}

.p-news__list:hover {
  background-color: #ECF0FF;
}

.p-news__date {
  font-size: 0.875em;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  line-height: 1.71429em;
}

@media screen and (min-width: 768px) {
  .p-news__date {
    font-size: 1.125em;
    margin-left: 0.55556em;
  }
}

.p-news__label {
  line-height: 1;
  font-size: 0.75em;
  margin-left: 1.66667em;
  white-space: nowrap;
  float: left;
  border-radius: 50px;
  padding: 0.33333em 1.66667em;
}

@media screen and (min-width: 768px) {
  .p-news__label {
    font-size: 0.875em;
    padding: 0.35714em 2.42857em;
    margin-left: 4.28571em;
  }
}

.p-news__label.-label-color {
  border: solid 2px #4973ff;
  background-color: #fff;
}

.p-news__label a {
  color: #3e3e3e;
  text-decoration: none;
}

.p-news__title {
  font-size: 0.875em;
  padding-top: 0.71429em;
  padding-right: 2.64286em;
  text-align: left;
  clear: both;
}

@media screen and (min-width: 768px) {
  .p-news__title {
    font-size: 1.125em;
    margin-left: 3.33333em;
    max-width: 697px;
  }
}

.p-news__more {
  font-size: 1.125em;
  padding: 0.88889em 0;
  margin: 2.22222em 0;
  width: calc(100% - 32px);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .p-news__more {
    font-size: 1.25em;
    padding: 1em 0;
    width: 12.4em;
    margin-bottom: 2.5em;
  }
}

/*  Service  */
.p-service {
  text-align: center;
}

.p-service + .p-service {
  margin-top: 4.0625em;
}

@media screen and (min-width: 768px) {
  .p-service + .p-service {
    margin-top: 0;
    margin-left: 5.375em;
  }
}

.p-service__name {
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  margin-bottom: 1.33333em;
}

.p-service__name span {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-service__name {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
}

.p-service__image {
  margin-bottom: 1.75em;
}

.p-service__text {
  font-size: 0.875em;
  text-align: left;
}

/*  Price  */
.p-price__tableWrapper {
  max-width: 960px;
  margin: 0 auto;
}

.p-price__table {
  font-size: 1.25em;
  margin-bottom: 0.875em;
  line-height: 1;
  width: 100%;
  vertical-align: middle;
}

.p-price__table th {
  text-align: center;
  background-color: #3e3e3e;
  font-weight: bold;
  color: #fff;
  padding: 1em;
  width: 30%;
  border: solid 1px #707070;
}

.p-price__table td {
  font-weight: bold;
  width: 100%;
  background-color: #fff;
  padding-left: 1em;
  width: 70%;
  border: solid 1px #707070;
}

.p-price__note {
  font-size: 0.75em;
}

/*  Article  */
.p-article {
  background-color: #fff;
}

.p-article__thumbnail {
  overflow: hidden;
}

.p-article__thumbnail img {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.p-article__thumbnail img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.p-article__title {
  font-size: 0.9375em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

@media screen and (min-width: 768px) {
  .p-article__title {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
}

.p-article__text {
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  .p-article__text {
    font-size: 1em;
  }
}

.p-article__button {
  font-size: 1.125em;
  padding: 0.88889em 0;
  width: calc(100% - 32px);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .p-article__button {
    width: 300px;
    text-align: center;
  }
}

.p-article__buttonLayout {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-article__buttonLayout {
    text-align: left;
  }
}

.swiper-container {
  overflow: hidden;
  padding-bottom: 5.25em;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    padding-bottom: 5.75em;
  }
}

.swiper-wrapper {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    margin-left: 0;
  }
}

.swiper-pagination {
  position: relative;
  top: 24px;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    top: 52px;
    text-align: left;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  position: relative;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.swiper-pagination-bullet-active:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  border: solid 1px #fff;
}

/*  Comments  */
.p-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-comments + .p-comments {
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .p-comments + .p-comments {
    margin-top: 5em;
  }
}

.p-comments__image img {
  width: 3.5em;
  height: 3.5em;
}

@media screen and (min-width: 768px) {
  .p-comments__image img {
    width: 6.25em;
    height: 6.25em;
  }
}

.p-comments__text {
  font-size: 0.875em;
  margin-left: 1.71429em;
}

@media screen and (min-width: 768px) {
  .p-comments__text {
    font-size: 1em;
    margin-left: 3.125em;
  }
}

/*  Access  */
.p-access {
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-access__position {
    position: absolute;
    top: 130px;
    left: 39%;
    width: 54%;
    max-width: 720px;
  }
}

.p-access__iframe-wrap {
  margin-top: 1.25em;
  margin-bottom: 2.5em;
  position: relative;
  width: 100%;
  padding-top: 71.527%;
  /* = height ÷ width × 100 */
}

@media screen and (min-width: 768px) {
  .p-access__iframe-wrap {
    margin: 0;
  }
}

.p-access__iframe-wrap iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-access__address {
  color: #fff;
}

.p-access__button {
  font-size: 1.125em;
  padding: 0.88889em 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-access__button {
    width: 30%;
    max-width: 326px;
    margin-top: 2.22222em;
  }
}

/*  Accordion  */
.p-accordion {
  font-size: 1em;
  margin: 0 auto;
  border-radius: 7px;
  background-color: #fff;
  max-width: 616px;
}

@media screen and (min-width: 768px) {
  .p-accordion {
    margin-left: 50%;
  }
}

.p-accordion:not(:last-child) {
  margin-bottom: 1.875em;
}

.p-accordion__question {
  color: #3e3e3e;
  padding: 1em 1.75em 1em 3.5625em;
  position: relative;
  font-weight: bold;
}

.p-accordion__question:before {
  content: 'Q';
  display: block;
  width: 26px;
  height: 26px;
  background-color: #4973ff;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  font-family: "Montserrat", sans-serif;
}

.p-accordion__question:after {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/plus.svg) no-repeat;
  position: absolute;
  top: 1.375em;
  right: 1em;
}

.p-accordion__question.open:after {
  background: url(../images/minus.svg) no-repeat;
  top: 1.875em;
}

.p-accordion__answer {
  color: #3e3e3e;
  padding: 0 1.125em 1.125em;
  position: relative;
  display: none;
}

.p-accordion__answer span {
  display: block;
  background-color: #3B69FF33;
  padding: 1.125em 0.875em;
  font-weight: 500;
  border-radius: 7px;
}

.p-accordion__answer.open {
  display: block;
}

.p-accordion__answer.open {
  display: block;
}

/*  Contact  */
.p-contact__heading {
  max-width: 960px;
  background: url(../images/contact1.png);
  margin: 0 auto;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  padding: 0 1em;
}

.p-contact__headingText {
  text-align: center;
  font-size: 0.875em;
  color: #fff;
  padding-bottom: 2.57143em;
}

/*  Contact Form  */
.p-contactForm {
  margin-top: -1.75em;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2.5em 1em;
  border-radius: 0 0 12px 12px;
}

@media screen and (min-width: 768px) {
  .p-contactForm {
    padding: 3.75em 5.625em;
  }
}

.p-contactForm__row dt {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .p-contactForm__row dt {
    font-size: 1.375em;
  }
}

.p-contactForm__row + .p-contactForm__row:not(:last-child) {
  margin-top: 2.5em;
}

.p-contactForm__row:last-child {
  margin-top: 2.5em;
}

.p-contactForm__label {
  padding: 0;
  margin-bottom: 0.625em;
}

@media screen and (min-width: 768px) {
  .p-contactForm__label {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-contactForm__label.-left {
    float: left;
    width: 35.2%;
  }
}

.p-contactForm__name, .p-contactForm__furigana, .p-contactForm__mail, .p-contactForm__content, .p-contactForm__type {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.375em 0.625em;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-contactForm__name, .p-contactForm__furigana, .p-contactForm__mail, .p-contactForm__type {
    width: 64.8%;
  }
}

.p-contactForm__name, .p-contactForm__furigana, .p-contactForm__mail {
  border: transparent;
  border-bottom: 1px solid #3E3E3E;
}

.p-contactForm__name::-webkit-input-placeholder, .p-contactForm__furigana::-webkit-input-placeholder, .p-contactForm__mail::-webkit-input-placeholder {
  font-size: 1em;
}

.p-contactForm__name:-ms-input-placeholder, .p-contactForm__furigana:-ms-input-placeholder, .p-contactForm__mail:-ms-input-placeholder {
  font-size: 1em;
}

.p-contactForm__name::-ms-input-placeholder, .p-contactForm__furigana::-ms-input-placeholder, .p-contactForm__mail::-ms-input-placeholder {
  font-size: 1em;
}

.p-contactForm__name::placeholder, .p-contactForm__furigana::placeholder, .p-contactForm__mail::placeholder {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .p-contactForm__name::-webkit-input-placeholder, .p-contactForm__furigana::-webkit-input-placeholder, .p-contactForm__mail::-webkit-input-placeholder {
    font-size: 1.375em;
  }
  .p-contactForm__name:-ms-input-placeholder, .p-contactForm__furigana:-ms-input-placeholder, .p-contactForm__mail:-ms-input-placeholder {
    font-size: 1.375em;
  }
  .p-contactForm__name::-ms-input-placeholder, .p-contactForm__furigana::-ms-input-placeholder, .p-contactForm__mail::-ms-input-placeholder {
    font-size: 1.375em;
  }
  .p-contactForm__name::placeholder, .p-contactForm__furigana::placeholder, .p-contactForm__mail::placeholder {
    font-size: 1.375em;
  }
}

.p-contactForm__name:hover, .p-contactForm__name:focus, .p-contactForm__furigana:hover, .p-contactForm__furigana:focus, .p-contactForm__mail:hover, .p-contactForm__mail:focus {
  outline: none;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(120, 151, 251, 0.527);
          box-shadow: 0px 5px 5px -5px rgba(120, 151, 251, 0.527);
  border-bottom: 1px solid #7897FB;
}

.p-contactForm .required {
  position: relative;
}

.p-contactForm .required:after {
  content: '必須';
  font-size: 0.875em;
  padding: 0.14286em 0.78571em;
  background-color: #ff4646;
  color: #fff;
  border-radius: 5px;
  margin-left: 1.42857em;
}

.p-contactForm__content {
  height: 10em;
  margin-bottom: 1.25em;
}

.p-contactForm__content:hover, .p-contactForm__content:focus {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 3px #7897FB;
          box-shadow: 0px 1px 3px #7897FB;
}

@media screen and (min-width: 768px) {
  .p-contactForm__content {
    width: 100%;
  }
}

.p-contactForm__type {
  cursor: pointer;
  background: transparent url(../images/select-arrow.svg) no-repeat no-repeat center right 16px/16px 16px;
}

.p-contactForm__type:hover {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 3px #7897FB;
          box-shadow: 0px 1px 3px #7897FB;
}

.p-contactForm__radio {
  display: none;
}

.p-contactForm__radioText {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.25em 0 0.25em 1.6875em;
}

@media screen and (min-width: 768px) {
  .p-contactForm__radioText {
    font-size: 1.375em;
  }
}

.p-contactForm__radioText + .p-contactForm__radioText {
  margin-left: 5.9375em;
}

.p-contactForm__radio + span:before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
}

.p-contactForm__radio + span:hover:before {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 4px #7897FB;
          box-shadow: 0px 1px 4px #7897FB;
}

.p-contactForm__radio + span:active:before {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 4px #7897FB;
          box-shadow: 0px 1px 4px #7897FB;
  background-color: #D1D9F5;
}

.p-contactForm__radio + span:after {
  background: #4973ff;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 6px;
}

.p-contactForm__radio:checked + span:after {
  opacity: 1;
}

.p-contactForm__checkbox {
  display: none;
}

.p-contactForm__checkboxWrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-contactForm__checkboxWrapper {
    text-align: left;
  }
}

.p-contactForm__checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding-left: 2.25em;
  position: relative;
  margin-bottom: 1.25em;
}

@media screen and (min-width: 768px) {
  .p-contactForm__checkbox + span {
    font-size: 1.125em;
    margin-bottom: 1.875em;
  }
}

.p-contactForm__checkbox + span:before {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.125em;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.125em;
}

.p-contactForm__checkbox + span:hover:before {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 4px #7897FB;
          box-shadow: 0px 1px 4px #7897FB;
}

.p-contactForm__checkbox + span:active:before {
  border: 1px solid #7897FB;
  -webkit-box-shadow: 0px 1px 4px #7897FB;
          box-shadow: 0px 1px 4px #7897FB;
  background-color: #D1D9F5;
}

.p-contactForm__checkbox + span:after {
  border-bottom: 2px solid #4973ff;
  border-left: 2px solid #4973ff;
  content: "";
  display: block;
  height: .5em;
  left: 0.1875em;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: .8em;
}

.p-contactForm__checkbox:checked + span::after {
  opacity: 1;
}

.p-contactForm__button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffaa3b;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: bold;
  padding: 0.77778em 1.33333em;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 5px #00000033;
          box-shadow: 0px 3px 5px #00000033;
}

.p-contactForm__button:hover {
  background-color: #F18900;
}

@media screen and (min-width: 768px) {
  .p-contactForm__button {
    padding: 0.77778em 2.77778em;
  }
}

.p-contactForm__buttonWrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-contactForm__buttonWrapper {
    text-align: left;
  }
}

/*
  3.2 - Utility
-----------------------------------------------------*/
/*  Screen Reader Text  */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
