@charset 'UTF-8';
/*  Card  */

.c-card {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: percentage(161 / 310);

  &__body {
    padding: set-size(26px) set-size(16px) set-size(28px);
  }

  &__thumbnail {
    position: absolute;
    top:0;
    width: 100%;

    img {
      width: 100%;
    }

  }
}
