@charset 'UTF-8';
/*  Hamburger Button  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #3E3E3E;
  opacity: .7;
}

.p-hamburger {
  border:none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right:16px;
  z-index: 30;
  width: 30px;
  height: 30px;
  margin: auto 0;
  background-color: transparent;
  outline: none;

    &:focus {
      box-shadow: 0 0 .5em rgba(118, 126, 241, 0.712);
    }

    @include mq(tab) {
      display: none;
    }
}


.p-hamburger__Line {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    display: block;
    width: 26px;
    height: 3px;
    margin: auto;
    border-radius: 4px;
    background-color: $main-color;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    border-radius: 4px;
    transition: all .2s ease-in-out;
  }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
}

.is-active-drawer .p-hamburger {
  left: 10%;
}

.is-active-drawer .p-hamburger__Line {
  background-color: transparent;

  &:before,
  &:after {
    top:0;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

}
